.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 42px
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #64bc38;
}

.bio {
  text-align: justify;
  color: gray;
  margin-top: 8px;
  margin-bottom: 8px;
}

.input {
  marginTop: "16px";
  padding: "8px";
  width:100%;
  height:100px;
  resize: vertical;
  padding:8px;
  border-radius:8px;
  border: 0;
  box-shadow:0px 1px 2px rgba(0,0,0,0.05), 
    0px 2px 4px rgba(0,0,0,0.05), 
    0px 4px 8px rgba(0,0,0,0.05), 
    0px 8px 16px rgba(0,0,0,0.05);
  box-sizing: border-box;
}

.justifyCenter {
	justify-content: center;
	text-align: center;
  position: relative;
  width: 100%;
}

.connected {
	display: inline-table;
	margin: 1px 10px;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #34d399;
  text-align: center
  float: left;
  white-space: nowrap;
}

.networkInvalid {
  display: inline-flex;
	color: #f87171;
	font-weight: bold;
  margin-top: 8px;
}

.wavebox {
  padding:10px;
  border-radius:8px;
  margin-bottom:15px;
  box-shadow:0px 0px 0px 2px rgba(0,0,0,0.05), 
    0px 2px 4px rgba(0,0,0,0.05),
    0px 4px 8px rgba(0,0,0,0.05),
    0px 8px 16px rgba(0,0,0,0);
  box-sizing: content-box;
  border:1px solid #c4d4c4;
}

.waveCount {
  text-align: left;
  color: gray;
  font-weight: bold;
  font-size:12px;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  width: 36%;
  margin-top: 16px;
  padding: 6px 6px 6px 6px;
  border: 0;
  border-radius: 100px;
  background-color:rgb(212, 242, 227)
}

.waveButton:disabled {
  opacity: 0.8;
	filter: grayscale(0.1);
  cursor: not-allowed;
}

{/* styling for the hover over an enabled button */}
.waveButton:hover:enabled {
    transform: scale(1.01);
    transition: all 0.4s ease;
    -webkit-filter: brightness(90%);
}   

.walletButton {
  border: 0;
  border-radius: 10px;
  font-size:10px;
  padding: 6px 6px 6px 6px;
  background: #f6851b;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 150px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 0 36%;
}

.walletButton:hover {
  transform: scale(1.01);
  transition: all 0.4s ease;
  -webkit-filter: brightness(90%);
}
