.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 42px
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: blue
}

.bio {
  text-align: justify;
  color: gray;
  margin-top: 16px;
  margin-bottom: 16px;
}

.input {
  margin-top: 16px;
  padding: 8px;
}

.waveCount {
  text-align: left;
  color: brown;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color:rgb(125, 245, 213)
}