.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 42px
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: rgb(18,185,129)
}

.bio {
  text-align: justify;
  color: gray;
  margin-top: 16px;
  margin-bottom: 16px;
}

.input {
  margin-top: 16px;
  padding: 8px;
}

.waveCount {
  text-align: left;
  color: gray;
  font-weight: bold;
  font-size:12px;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 6px 6px 6px 6px;
  border: 0;
  border-radius: 100px;
  background-color:rgb(212, 242, 227)
}

.waveButton:hover {
  border: 1px solid #009e45;
  transform: scale(1.01);
}

.walletButton {
  border: solid 2px #444;
  border-radius: 100px;
  font-size:10px;
  padding: 6px 6px 6px 6px;
  background: #e67b3d;
  {/*background-image: url("./public/mm.png");*/}
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 150px;
  font-weight: bold;
  color: #fff;
  box-shadow: inset 2px 2px 0 #fff, 0 8px 20px -6px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all 0.4s ease;
}

.walletButton:hover {
  transform: scale(1.01);
}